body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* color: blue; */
}

 #output {
  /* border: solid;
  border-color: red;
  height: 240px;
  width: 180px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
} 
#My_deck {
  border: solid;
  border-color: blue;
  height: 240px;
  width: 180px;
}

#My_Hand {
  display: flex;
  align-items: center;
  justify-content: center;
}

#Card {
  border: solid;
  border-color: red;
  height: 240px;
  width: 180px;
}